*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btnPrimary {
  width: 130px;
  border-radius: 15px;
  background-color: #5F2EEA;;
  color: white;
  border: #5F2EEA solid 1px;
}

.btn-primary:hover {
  background-color: #5F2EEA;
}

.btn-outline-primary {
  width: 130px;
  border-radius: 15px;
  background-color: white;
  color: #5F2EEA;
  border: #5F2EEA solid 1px;
}

.btn-outline-primary:hover {
  background-color: #5F2EEA;
}

.mt-md-10 {
  margin-top: 100px;
}

a {
  font-weight: 500;
  text-decoration: none;
  color: #414141;
}

.text-primary {
  color: #5F2EEA !important;
}

.mt-10 {
  margin-top: 100px;
}

.pt-title-10 {
  padding-top: 150px;
}

.image-poster {
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-poster img {
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
  width: 80%;
  height: 300px;
}

.debug {
  border: 1px solid black;
}

/*single text start*/
.singleText {
  display: -webkit-box;
  max-width: 250px;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
/*single text end*/

.detailBtn {
  margin-left: auto;
  margin-right: auto;
}

#now-showing {
  background-color: #F5F6F8;
}

#nowShowingContent {
  justify-content: space-around;
}

.justify-content-arround {
  justify-content: space-around;
}

.cta {
  background-color: #F5F6F8;
}

.emailInput:active{
  box-shadow: 5px #603cc4;
}

.cinemasLogo {
  display: grid;
  gap: 15px;
}

/*humberger menu start*/

#hamburgerButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 24px;
  padding: 10px;
}

#hamburgerButton:hover {
  scale: 1.2;
}

#hamburgerButton i {
  transition: transform 0.3s ease;
}

.hamburgerBotton {
  display: none;
}

/*humberger menu end*/

#checkboxForNavMobile {
  display: none;
}

.navMbl {
  display: none;
}

.menuIcon {
  display: none;
}

.btnPrimary:hover {
  border: 1px solid #603cc4;
  background-color: #603cc4;
  color: white;
  scale: 1.1;
}

.limit-text {
  white-space: nowrap;     
  overflow: hidden;         
  text-overflow: ellipsis;  
  width: 230px;             
}

.hoverScale:hover {
  scale: 1.2;
}


.signUpBtn {
  background-color: #603cc4;
  border: #603cc4;
}

.joinBtn {
  background-color: #603cc4;
  border: #603cc4;
}

.signUpBtn:active {
  background-color: #603cc4;
  border: #603cc4;
}


.moviesPoster {
  margin-left: 22px;
}

.moviesPoster:hover {
  scale: 1.03;
}

.capitalize {
  text-transform: capitalize;
}

#upcoming h2 {
  color: #603cc4;
}