@media screen and (max-width: 568px) {
    .detailTitle {
        text-align: center;
        text-transform: capitalize;
    }

    .detailSynopsis {
        width: 95%;
    }

    .detailPoster {
        margin-bottom: 20px;
    }
    .detailDirected {
        margin-top: 15px;
    }

    #detailBody {
        margin-bottom: 300px;
    }
}